<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacation Booking Form</title>
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="/img/plane.png" />

    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <main>
      <header>
        <div>
          <img src="https://bit.ly/305-vacation" alt="" />
          <h1>Book Your Dream Vacation</h1>
        </div>
      </header>
      <div id="spacing">
        <h2>Thank you for your request!</h2>
      </div>
    </main>
    <footer>https://github.com/KevinSandoval12/midterm</footer>
  </body>
</html>
